@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url(reset.css);

/* VARIABLES */

:root{
    --primary-orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --gray: hsl(219, 9%, 45%);
    --light-gray: hsl(220, 14%, 75%);
    --off-white: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --font: 'Kumbh Sans', sans-serif;
}

/* FONTS AND COLORS */

body{
    font-size: 16px;
    font-family: var(--font);
    font-weight: 400;
}

.subheading,
.discount{
    color: var(--primary-orange);
    font-weight: 700;
}

.subheading{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
}

.discount{
    background-color: var(--pale-orange);
}

.item-title,
.price{
    font-weight: 700;
    font-size: 2rem;
}

.item-text{
    color: var(--gray);
    line-height: 1.5rem;
}

.old-price{
    color: var(--light-gray);
    font-weight: 700;
    text-decoration: line-through;
}

.amount-container{
    background-color: var(--off-white);
}

.amount{
    font-weight: 700;
}

.add-to-cart{
    color: var(--white);
    background-color: var(--primary-orange);
}

.add-to-cart>img{
    fill: var(--white);
}
/*! weird not working white color cart */

/* LAYOUTS */



/* ANIMATIONS */



/* UTILITY */

.display-none{
    display: none;
}


/* MEDIA QUERIES */



/* FOOTER */

.attribution {
    font-size: 10px;
    text-align: center;
    position: fixed;
    bottom: 0.5%;
    width: 100%;
    color: var(--dark-gray);
}

.attribution a {
    color: hsl(228, 18%, 56%);
}