@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url(reset.css);

/* VARIABLES */

:root{
    --primary-orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --gray: hsl(219, 9%, 45%);
    --light-gray: hsl(220, 14%, 75%);
    --off-white: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --font: 'Kumbh Sans', sans-serif;
}

/* FONTS AND COLORS */

body{
    font-size: 16px;
    font-family: var(--font);
    font-weight: 400;
}

.subheading,
.discount{
    color: var(--primary-orange);
    font-weight: 700;
}

.subheading{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
}

.discount{
    background-color: var(--pale-orange);
}

.item-title,
.price{
    font-weight: 700;
    font-size: 2rem;
}

.item-text{
    color: var(--gray);
    line-height: 1.5rem;
}

.old-price{
    color: var(--light-gray);
    font-weight: 700;
    text-decoration: line-through;
}

.amount-container{
    background-color: var(--off-white);
}

.amount{
    font-weight: 700;
}

.add-to-cart{
    color: var(--white);
    background-color: var(--primary-orange);
    font-weight: 700;
}

.cart-white{
    filter: brightness(0) invert(1);
}

.right-btn,
.left-btn{
    background-color: var(--white);
}

/* LAYOUTS */

.menu-container{
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

/* .menu-container>:nth-child(4){
    
    justify-self: self-end;
} */


.profile-pic{
    max-height: 100%;
    padding: 1.5rem;
}

.image-container{
    height: 40vh;
    width: 100%;
    background-image: url(images/image-product-1.jpg);
}

.right-btn,
.left-btn{
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    
}

.text-container,
.purchase-container{
    margin: 0 2rem;
}

.price-container{
    display: flex;
    justify-content: space-evenly;
}

.amount-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add-to-cart{
    width: 100%;
}

/* ANIMATIONS */



/* UTILITY */

.display-none{
    display: none;
}


/* MEDIA QUERIES */



/* FOOTER */

.attribution {
    font-size: 10px;
    text-align: center;
    position: fixed;
    bottom: 0.5%;
    width: 100%;
    color: var(--dark-gray);
}

.attribution a {
    color: hsl(228, 18%, 56%);
}