@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url(reset.css);

/* VARIABLES */

:root{
    --primary-orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --gray: hsl(219, 9%, 45%);
    --light-gray: hsl(220, 14%, 75%);
    --off-white: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --font: 'Kumbh Sans', sans-serif;
}

/* FONTS AND COLORS */

body{
    font-size: 16px;
    font-family: var(--font);
    font-weight: 400;
}

/* LAYOUTS */



/* ANIMATIONS */



/* UTILITY */

.display-none{
    display: none;
}


/* MEDIA QUERIES */



/* FOOTER */

.attribution {
    font-size: 10px;
    text-align: center;
    position: fixed;
    bottom: 0.5%;
    width: 100%;
    color: var(--dark-gray);
}

.attribution a {
    color: hsl(228, 18%, 56%);
}